<article>
    <!-- 1. Applicant name
    2. Destination input 
    3. Purpose of travel select
    4. terrorist activit y or n? radio
    5. Accept Button --> 
    <h3 class="subheading">Applicant Name:</h3>
    <form class="immigrationForm">
        <label for="destination">Destination:</label>
        <input type="text" name="destination">
        <label for="purposeOfTravel">Purpose Of Travel:</label>
        <select name="purposeOfTravel" id="purposeOfTravel">
            <option >Sith Lord Matters</option>
            <option>Jedi Training</option>
            <option >These Aren't The Droids  You Are Looking For</option>
        </select>
        <label for="terroristActivity">Terrorist Activity? 🤔</label>
        <fieldset id="terroristActivity">
            <label for="yes">Yes</label>
            <input name="terroristActivity" type="radio" value="yes" id="yes">
            <label for="no">Yes</label>
            <input name="terroristActivity" type="radio" value="no" id="no">
        </fieldset>
        <button type="submit">Accept</button>
    </form>
</article>