<article class="viewApplicantSection">
  <h2>Luke Skywalker</h2>
  <hr>
  <ul class="applicantInfoList">
    <li class="applicantInfo">
      <h3 class="subheading gender">Gender:</h3>
      <p>male</p>
    </li>
    <li class="applicantInfo">
      <h3 class="subheading gender">Gender:</h3>
      <p>male</p>
    </li>
    <li class="applicantInfo">
      <h3 class="subheading gender">Gender:</h3>
      <p>male</p>
    </li>
    <li class="applicantInfo">
      <h3 class="subheading gender">Gender:</h3>
      <p>male</p>
    </li>
  </ul>
</article>